:root {
  --my-color: rgb(168, 168, 168);
}

html {
  font-size: 9px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  background-color: var(--my-color);
  width: 100%;
  height: 10rem;
}

.main-title {
  width: 60rem;
  height: 10rem;
  background-color: var(--my-color);
  margin: 8rem auto;
  clear: both;
}

.section {
  width: 66rem;
  height: 66rem;
  background-color: var(--my-color);
  margin-bottom: 8rem;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.margin-right-md {
  margin-right: 1.8%;
}

.main-title {
  clear: both;
}

.main-box {
  width: 100%;
  margin: 0 auto;
}

.boxes {
  height: 72rem;
}

.box {
  background-color: var(--my-color);
  width: 23.5%;
  height: 35rem;
  margin: 0 1rem 2rem;
}

.cards {
  width: 100%;
  height: 75rem;
  background-color: var(--my-color);
  padding: 8rem;
}

.card {
  background-color: white;
  width: 35rem;
  height: 55rem;
  margin: 2rem;
}

.card-item {
  margin: 3rem;
  background-color: var(--my-color);
}

.item1 {
  height: 4rem;
}
.item2 {
  height: 35%;
}
.item3 {
  height: 35%;
}

.title-sm {
  width: 60rem;
  margin: 8rem auto 2rem;
}
.title-md {
  width: 90rem;
  margin: 0 auto 2rem;
}
.title-lg {
  width: 90rem;
  height: 35rem;
  margin: 0 auto 2rem;
}

.main-sec {
  width: 90rem;
  margin: 0 auto 8rem;
}

.main-sections {
  width: 44rem;
  height: 10rem;
  background-color: var(--my-color);
  margin-bottom: 8rem auto;
}

.titles {
  height: 95rem;
}

.footer {
  padding: 4rem;
  width: 100%;
  height: 40rem;
  clear: both;
  background-color: var(--my-color);
  margin-top: 8rem;
}
.part {
  background-color: white;
  width: 61rem;
  height: 32rem;
}
